#### importing modules & reproducibility

In [42]:
# import modules
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt

# Fixing random state for reproducibility
np.random.seed(387)

# ***Preprocessing***

In [21]:
# read data
characters = pd.read_csv('datasets/Characters.csv', sep=';')
hp1 = pd.read_csv('datasets/Harry Potter 1.csv', sep=';')
hp2 = pd.read_csv('datasets/Harry Potter 2.csv', sep=';')
hp3 = pd.read_csv('datasets/Harry Potter 3.csv', sep=';')

## ***profiling structure***
### fixing books data

In [22]:
trilogy = [hp1, hp2, hp3] 

# changing books columns and values to lower case
'''if not other cols would be created because of name differences'''
for book in trilogy:
    book.columns = hp1.columns.str.lower()
    book['character'] = book['character'].str.lower() # character column
    book['sentence'] = book['sentence'].str.lower()   # sentence column

In [23]:
# vertical concatenation of books
combined = pd.concat([hp1, hp2, hp3], ignore_index=True)
combined.head()

    character                                           sentence
0  dumbledore  i should've known that you would be here, prof...
1  mcgonagall                good evening, professor dumbledore.
2  mcgonagall                        are the rumors true, albus?
3  dumbledore                          i'm afraid so, professor.
4  dumbledore                              the good and the bad.

### fixing characters data

In [24]:
# changing books columns and values to lower case
'''if not other cols would be created because of name differences'''
characters.columns = characters.columns.str.lower()

In [25]:
# columns to date format
characters['birth'] = pd.to_datetime(characters['birth'], errors='coerce')\
                                    .dt.strftime('%m-%d-%Y')
characters['death'] = pd.to_datetime(characters['death'], errors='coerce')\
                                    .dt.strftime('%m-%d-%Y')

#### inspecting tables

In [32]:
# column names
print(characters.columns,'\n')
print(hp1.columns)
characters

Index(['id', 'name', 'gender', 'job', 'house', 'wand', 'patronus', 'species',
       'blood status', 'hair colour', 'eye colour', 'loyalty', 'skills',
       'birth', 'death'],
      dtype='object')

Index(['character', 'sentence'], dtype='object')

,id,name,gender,job,house,wand,patronus,species,blood status,hair colour,eye colour,loyalty,skills,birth,death
137,138,Gellert Grindelwald,Male,Revolutionary leader(c. 1920s[6] – 1945),NaN,"15"", Elder, Thestral tail hair core",NaN,Human,Pure-blood or half-blood,Blond,Blue,Gellert Grindelwald's Acolytes,Duelling,01-01-1883,03-01-1998
138,139,Dobby,Male,"Malfoy family's house-elf (? - 1993),\nHogwart...",NaN,NaN,NaN,House elf,NaN,Green,NaN,NaN,"A type of magic specific to house-elves, perfo...",NaN,NaN
139,140,Kreacher,Male,"\nBlack family's house-elf (?-1996), \nHarry P...",NaN,NaN,NaN,House elf,NaN,White,NaN,NaN,Magic performed without a wand which includes ...,NaN,NaN

# Plots :
### Characters with the most sentences
#### top 15 of the first 3 movies

In [49]:
'''plt.barh(x= combined['character'], y=combined['sentence'].count(), wi)

plt.title('top 15 Characters with the most sentences')
plt.ylabel('number of sentences')
plt.xlabel('character')
plt.show()'''

"plt.barh(x= combined['character'], y=combined['sentence'].count(), wi)\n\nplt.title('top 15 Characters with the most sentences')\nplt.ylabel('number of sentences')\nplt.xlabel('character')\nplt.show()"

In [51]:
sns.barplot(data=combined, x='character', y='sentence'.count() , hue='character')

TypeError: count() takes at least 1 argument (0 given)