### importing and reading

In [55]:
# import modules
import pandas as pd
import seaborn as sns
import numpy as np

# Fixing random state for reproducibility
np.random.seed(387)

In [68]:
# read data
characters = pd.read_csv('datasets/Characters.csv', sep=';')
hp1 = pd.read_csv('datasets/Harry Potter 1.csv', sep=';')
hp2 = pd.read_csv('datasets/Harry Potter 2.csv', sep=';', header= None)
hp3 = pd.read_csv('datasets/Harry Potter 3.csv', sep=';', header= None)

# transform To DataFrames
hp1 = pd.DataFrame(data= hp1)
hp2 = pd.DataFrame(data= hp2)
hp3 = pd.DataFrame(data= hp3)

### getting column names, and table shapes

In [69]:
# column names
print(characters.columns,'\n')
print(hp1.columns)

Index(['Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills',
       'Birth', 'Death'],
      dtype='object')

Index(['Character', 'Sentence'], dtype='object')

In [95]:
# 3 tables shapes
print("hp1 shape:", hp1.shape,'\n',
      "hp2 shape:", hp2.shape,'\n',
      "hp3 shape:", hp3.shape)

hp1 shape: (1587, 2)
 hp2 shape: (1700, 2)
 hp3 shape: (1638, 2)

# Plots :
### Characters with the most sentences
#### top 15 of the first 3 movies

In [100]:
# combine the 3 movies table
combined = pd.concat([hp1, hp2, hp3], axis=0, ignore_index=True)
combined.head(10)

,Character,Sentence,CHARACTER,SENTENCE
0,Dumbledore,"I should've known that you would be here, Prof...",NaN,NaN
1,McGonagall,"Good evening, Professor Dumbledore.",NaN,NaN
2,McGonagall,"Are the rumors true, Albus?",NaN,NaN
3,Dumbledore,"I'm afraid so, professor.",NaN,NaN
4,Dumbledore,The good and the bad.,NaN,NaN
5,McGonagall,And the boy?,NaN,NaN
6,Dumbledore,Hagrid is bringing him.,NaN,NaN
7,McGonagall,Do you think it wise to trust Hagrid with some...,NaN,NaN
8,Dumbledore,"Ah, Professor, I would trust Hagrid with my life.",NaN,NaN
9,Hagrid,"Professor Dumbledore, sir.",NaN,NaN