#### importing modules & reproducibility

In [3]:
# import modules
import pandas as pd
import seaborn as sns
import numpy as np

# Fixing random state for reproducibility
np.random.seed(387)

# Preprocessing

In [4]:
# read data
characters = pd.read_csv('datasets/Characters.csv', sep=';')
hp1 = pd.read_csv('datasets/Harry Potter 1.csv', sep=';')
hp2 = pd.read_csv('datasets/Harry Potter 2.csv', sep=';')
hp3 = pd.read_csv('datasets/Harry Potter 3.csv', sep=';')

### profiling structure

In [42]:
trilogy = [hp1, hp2, hp3]

# changing columns and values to lower case
'''if not other cols would be created because of name differences'''
for book in trilogy:
    book['character'] = book['character'].str.lower() # character column
    book['sentence'] = book['sentence'].str.lower() # sentence column
    book.columns = book.columns.str.lower()
    
print(trilogy[0:2])

[       character                                           sentence
0     dumbledore  i should've known that you would be here, prof...
1     mcgonagall                good evening, professor dumbledore.
2     mcgonagall                        are the rumors true, albus?
3     dumbledore                          i'm afraid so, professor.
4     dumbledore                              the good and the bad.
...          ...                                                ...
1582      hagrid  oh, listen, harry, if that dolt of a cousin of...
1583       harry  but hagrid, we're not allowed to do magic away...
1584      hagrid  i do. but your cousin don't, do he? eh? off yo...
1585    hermione        feels strange to be going home, doesn't it?
1586       harry                    i'm not going home. not really.

[1587 rows x 2 columns],      character                                           sentence
0       harry                       i can’t let you out, hedwig.
1       harry    i’m not allowed to use magic outside of school.
2       harry                           besides, if uncle vernon…
3       vernon                                      harry potter!
4        harry                                now you’ve done it.
...        ...                                                ...
1695    hagrid                                    sorry i'm late.
1696    hagrid  the owl that delivered my release papers got a...
1697    hagrid                      some ruddy bird called errol.
1698    hagrid  and i'd just like to say that if it hadn't bee...
1699     harry           there's no hogwarts without you, hagrid.

[1700 rows x 2 columns]]

#### inspecting tables

In [27]:
# column names
print(characters.columns,'\n')
print(hp1.columns)

Index(['id', 'name', 'gender', 'job', 'house', 'wand', 'patronus', 'species',
       'blood status', 'hair colour', 'eye colour', 'loyalty', 'skills',
       'birth', 'death'],
      dtype='object')

Index(['character', 'sentence'], dtype='object')

In [26]:
# 3 tables shapes
print("hp1 shape:", hp1.shape,'\n',
      "hp2 shape:", hp2.shape,'\n',
      "hp3 shape:", hp3.shape)

hp1 shape: (1587, 2)
 hp2 shape: (1700, 2)
 hp3 shape: (1638, 2)

# Plots :
### Characters with the most sentences
#### top 15 of the first 3 movies

In [28]:
# vertical append
combined = pd.concat([hp1,hp2], ignore_index=True)
combined = pd.concat([combined,hp3], ignore_index=True)
combined

       character                                           sentence
0     dumbledore  I should've known that you would be here, Prof...
1     mcgonagall                Good evening, Professor Dumbledore.
2     mcgonagall                        Are the rumors true, Albus?
3     dumbledore                          I'm afraid so, professor.
4     dumbledore                              The good and the bad.
...          ...                                                ...
4920    HERMIONE                             How fast is it, Harry?
4921       HARRY                                             Lumos.
4922       HARRY          I solemnly swear that I am up to no good.
4923       HARRY                                  Mischief managed.
4924       HARRY                                               Nox.

[4925 rows x 2 columns]