### importing and reading

In [55]:
# import modules
import pandas as pd
import seaborn as sns
import numpy as np

# Fixing random state for reproducibility
np.random.seed(387)

In [68]:
# read data
characters = pd.read_csv('datasets/Characters.csv', sep=';')
hp1 = pd.read_csv('datasets/Harry Potter 1.csv', sep=';')
hp2 = pd.read_csv('datasets/Harry Potter 2.csv', sep=';')
hp3 = pd.read_csv('datasets/Harry Potter 3.csv', sep=';')

# transform To DataFrames
hp1 = pd.DataFrame(data= hp1)
hp2 = pd.DataFrame(data= hp2)
hp3 = pd.DataFrame(data= hp3)

### getting column names

In [69]:
# column names
print(characters.columns,'\n')
print(hp1.columns)

Index(['Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills',
       'Birth', 'Death'],
      dtype='object')

Index(['Character', 'Sentence'], dtype='object')

# Plots :
### Characters with the most sentences
#### top 15 of the first 3 movies

In [92]:
# combine the 3 tables of scripts and reset index
print("hp1 shape:", hp1.shape,'\n',
      "hp2 shape:", hp2.shape,'\n',
      "hp3 shape:", hp3.shape)

hp1 shape: (1587, 2)
 hp2 shape: (1700, 2)
 hp3 shape: (1638, 2)